.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  color: black;
  display: block;
  margin-top: 1rem;
  margin-bottom: 20px;
  text-align: left;
}

input {
  width: 100%;
  border: 2px solid black;
}

select {
  width: 100%;
  border: 2px solid black;
}

.btnSubmit {
  padding-inline: 15%;
  margin: 20px 0;
}

.address {
  margin-top: 10px;
  padding: 10px 20px;
}
