.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  color: black;
  display: block;
  margin-top: 1rem;
  margin-bottom: 20px;
  text-align: left;
}

input {
  width: 100%;
  border: 2px solid black;
}

.select {
  margin-top: -10px;
  width: 100%;
  min-width: 180px;
  > div {
    // border: 2px solid black;
    min-height: fit-content;
    border-radius: 0;
    &:hover {
      // border: 2px solid black;
      box-shadow: none;
    }
    &:focus {
      // border: 2px solid black;
      box-shadow: none;
    }
  }
}

.btnSubmit {
  padding-inline: 15%;
  margin: 20px 0;
}

.address {
  margin-top: 10px;
  padding: 10px 20px;
}
