nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.925rem 1.95rem;
  h1 {
    color: black;
  }
  .box-link {
    display: flex;
    column-gap: 5rem;
    a {
      font-weight: bold;
      color: #2c3e50;
      font-size: 1.15rem;
      &:hover {
        color: #276cb1;
      }
    }
  }
}
